/* Dark         #BA000D */
/* Light        #FF7961 */
/* Super Light	#EEE7E7	*/
/* Common       #F44336 */

.CampoNumerico-fundo {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0px;
}

.CampoNumerico-label {
    font-weight: bold;
    padding-right: 5px;
    padding-bottom: 5px;
    margin: auto 0px;
}

.CampoNumerico-input {
    font-size: 18px;
    border-style: solid;
    width: 100%;
    padding: 2px;
}